In [ ]:
BODY MASS INDEX

In [4]:
height = float(input("Enter your height: "))
weight = float(input("Enter your weight: "))

unit = input("Choose the unit for height (m or cm or f)")
unit1 = input("Choose the unit for weight (kg or g)")
if unit == "m" and unit1== "kg":
       
    bmi =weight/height**2
    print(bmi)
elif unit == "cm" and unit1 == "g":
    bmi =(weight/1000)/height**2/100
    print(bmi)
else:
    print("Unknown value")

Enter your height: 160
Enter your weight: 630
Choose the unit for height (m or cm or f)cm
Choose the unit for weight (kg or g)g
2.4609375e-07

In [7]:
x=["john","james", "kate", True, 10.55,34]
print (x)

['john', 'james', 'kate', True, 10.55, 34]

In [8]:
len (x)

6

In [9]:
x.index(34)

5

In [10]:
x[5]

34

In [11]:
##slicing
x[0:4]

['john', 'james', 'kate', True]

In [12]:
x[3:]

[True, 10.55, 34]

In [14]:
for i in x:
    print(i)

john
james
kate
True
10.55
34

In [15]:
for i in range(0, len(x)):
    print (i)

0
1
2
3
4
5

In [16]:
for i in range(0, len(x)):
    print(x[i])

john
james
kate
True
10.55
34

In [17]:
array=[]
for i in range(0, len (x)):
    array.append(x[i])
    
print (array)

['john', 'james', 'kate', True, 10.55, 34]

In [18]:
type(x[2])

str

In [19]:
print (x)

['john', 'james', 'kate', True, 10.55, 34]

In [20]:
for i in x:
    if type (i) == str or type (i) == bool:
        pass
    else:
        print (i)

10.55
34

In [21]:
for i in x:
    if type(i) != str and type (i) != bool:
        print (i)

10.55
34

In [22]:
print(x[3])

True

In [23]:
x[2] = "David"
print(x)

['john', 'james', 'David', True, 10.55, 34]

In [24]:
x.append("Akunna")
print(x)

['john', 'james', 'David', True, 10.55, 34, 'Akunna']

In [26]:
p = ["jude", "philip","reginald","caleb", "jake","chowah"]
for i in p:
    print(i)

jude
philip
reginald
caleb
jake
chowah

In [ ]:
###list method
append()
len()
upper()
list[]
!= not equal to

In [31]:
p = ["jude", "philip","reginald","caleb", "jake","chowah"]
even_names = []
odd_names = []
for i in p:
    if len(i)%2 == 0:
        even_names.append(i)
    else:
        odd_names. append(i)
print(even_names)

['jude', 'philip', 'reginald', 'jake', 'chowah']

In [32]:
p = ["jude", "philip", "jane","caleb", "jake","chowah"]
even_names = []
odd_names = []
for i in p:
    if len(i)/2 == 0:
        even_names.append(i)
    else:
        odd_names. append(i)
print(even_names)

[]

In [34]:
array =["john", "timothy", 10, 33, "jude"]
array [1:]

['timothy', 10, 33, 'jude']

In [35]:
array =["john", "timothy", 10, 33, "jude"]
array[array.index(33):]

[33, 'jude']

In [43]:
input_value = input ("enter_value: ")
array =["john", "timothy", 10, 33, "jude", "beauty"]
new_arry =[]
for i in array:
    b = str(i)
    new_arry.append(b)
    
f_ans = new_arry[new_arry.index(input_value)+1:]
print(f_ans)

enter_value: 10
['33', 'jude', 'beauty']

In [44]:
input_value = input ("enter_value: ")
array =["john", "timothy", 10, 33, "jude", "beauty"]
new_arry =[]
for i in array:
    b = str(i)
    new_arry.append(b)
f_ans = new_arry[:new_arry.index(input_value)]
f_ans.reverse()
print(f_ans)

enter_value: jude
['33', '10', 'timothy', 'john']

In [46]:
array = ["john", "timothy",10, 33, "jude", "beauty"]
####################################################
input_value = input("enter_value: ")
pick_from = input("enter left or right: ").lower()
new_arry = []
for i in array:
    b = str(i)
    new_arry.append(b)
    
if pick_from == "l":
    f_ans = new_arry[:new_arry.index(input_value)]
    f_ans.reverse()
else:
    f_ans = new_arry[new_arry.index(input_value)+1:]
    print(f_ans)

enter_value: timothy
enter left or right: r
['10', '33', 'jude', 'beauty']

In [ ]:
formular + temperature_value + 273
only values less than 100

In [57]:
all_temperatures = []
second_arrays = []
temperature_value = [102, 67, 44, 190, 56, 27, 101, 68]
for i in temperature_value:
    if i < 100:
        temp = i + 273
        a = f"{temp}k"
        all_temperatures.append(a)
    else:
        b = f"{i}c"
        second_arrays.append(b)
print(all_temperatures)
print(second_arrays)

['340k', '317k', '329k', '300k', '341k']
['102c', '190c', '101c']

In [58]:
all_temperatures = []
temperature_value = [102, 67, 44, 190, 56, 27, 101, 68]
for i in temperature_value:
    if i < 100:
        temp = i + 273
        a = f"{temp}k"
        all_temperatures.append(a)
    else:
        b = f"{i}c"
print(all_temperatures)

['340k', '317k', '329k', '300k', '341k']

In [60]:
a = [5, 10, 15, 20]
b = [10, 20, 30, 40]
diff_arry = []

if len(a) == len(b):
    for i in range(0, len(a)):
        diff = a[i] - b[i]
        diff_arry.append(diff)
else:
    print(False)
print(diff_arry)

[-5, -10, -15, -20]

In [61]:
a = [5, 10, 15, 20]
b = [10, 20, 30, 40]
diff_arry = []

if len(a) == len(b):
    for i in range(0, len(a)):
        diff = b[i] - a[i]
        diff_arry.append(diff)
else:
    print(False)
print(diff_arry)

[5, 10, 15, 20]

In [62]:
a = [5, 10, 15, 20]
b = [10, 20, 30, 40, 30]
diff_arry = []

if len(a) == len(b):
    for i in range(0, len(a)):
        diff = b[i] - a[i]
        diff_arry.append(diff)
else:
    print(False)
print(diff_arry)

False
[]