In [2]:
a = ["a", "b", "c"]
print (a)

['a', 'b', 'c']

In [3]:
a_dict = {"name": "Tobi" , "age": 40, "credit_score":300}
print(a_dict)

{'name': 'Tobi', 'age': 40, 'credit_score': 300}

In [4]:
new_dict = [{"name": "emma", "age":10}, {"name": "kate", "age":20}]
print(new_dict)

[{'name': 'emma', 'age': 10}, {'name': 'kate', 'age': 20}]

In [5]:
a_dict["marital_status"] = "married"
print(a_dict)

{'name': 'Tobi', 'age': 40, 'credit_score': 300, 'marital_status': 'married'}

In [6]:
new_dict

[{'name': 'emma', 'age': 10}, {'name': 'kate', 'age': 20}]

In [7]:
for i in new_dict:
    print(i)

{'name': 'emma', 'age': 10}
{'name': 'kate', 'age': 20}

In [8]:
for i in new_dict:
    i["marital_status"] = "married"
print(new_dict)

[{'name': 'emma', 'age': 10, 'marital_status': 'married'}, {'name': 'kate', 'age': 20, 'marital_status': 'married'}]

In [9]:
class_results = {"name":["jakes", "fibian", "mathew"],
                "score": [20,30, 25],
                "age": [15, 8, 10]}
print(class_results)

{'name': ['jakes', 'fibian', 'mathew'], 'score': [20, 30, 25], 'age': [15, 8, 10]}

In [16]:
work_entry = [{"name":"dami", "sales":400},{"name":"kuro", "sales":320},{"name":"tobi","sales":405} ]
print(work_entry)

[{'name': 'dami', 'sales': 400}, {'name': 'kuro', 'sales': 320}, {'name': 'tobi', 'sales': 405}]

In [17]:
for i in work_entry:
    i['salary'] = 1000
    
print (work_entry)

[{'name': 'dami', 'sales': 400, 'salary': 1000}, {'name': 'kuro', 'sales': 320, 'salary': 1000}, {'name': 'tobi', 'sales': 405, 'salary': 1000}]

In [18]:
for k in work_entry:
    print(k)

{'name': 'dami', 'sales': 400, 'salary': 1000}
{'name': 'kuro', 'sales': 320, 'salary': 1000}
{'name': 'tobi', 'sales': 405, 'salary': 1000}

In [23]:
for k in work_entry:
    if k["sales"] >= 400:
        print(k)

{'name': 'dami', 'sales': 400, 'salary': 1000}
{'name': 'tobi', 'sales': 405, 'salary': 1000}

In [38]:
for k in work_entry:
    for a, b in k.items():
        if k["sales"] >=400:
            k["salary"] = k["salary"] * 0.10 + k["salary"]
print (work_entry)

[{'name': 'dami', 'sales': 400, 'salary': 1331.0}, {'name': 'kuro', 'sales': 320, 'salary': 1000}, {'name': 'tobi', 'sales': 405, 'salary': 1331.0}]

In [41]:
print(work_entry)

[{'name': 'dami', 'sales': 400, 'salary': 1331.0}, {'name': 'kuro', 'sales': 320, 'salary': 1000}, {'name': 'tobi', 'sales': 405, 'salary': 1331.0}]

In [42]:
for i in work_entry:
    for a, b in i.items():
        print(b)

dami
400
1331.0
kuro
320
1000
tobi
405
1331.0

In [43]:
for i in work_entry:
    for a, b in i.items():
        b_vals = str(b)
        if "a" in b_vals:
            print(i)

{'name': 'dami', 'sales': 400, 'salary': 1331.0}

In [46]:
for i in work_entry:
    name_vals = i["name"]
    if "a" in name_vals:
         print(i)
#        print(i["name"])

{'name': 'dami', 'sales': 400, 'salary': 1331.0}

In [34]:
import pandas as pd
res = pd.DataFrame(class_results)
res

     name  score  age
0   jakes     20   15
1  fibian     30    8
2  mathew     25   10

In [35]:
import math as m
a = 50
m.cos(a)

0.9649660284921133

In [ ]:
###hash table

In [47]:
array =[12, 9, "tami", 9, "tami", "jonathan", 12, 12, 12, 'tami']
print(array)

[12, 9, 'tami', 9, 'tami', 'jonathan', 12, 12, 12, 'tami']

In [49]:
hash_tab = {}

for i in array:
    hash_tab[i] = hash_tab.get(i, 0) + 1
print (hash_tab)

{12: 4, 9: 2, 'tami': 3, 'jonathan': 1}